/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
    margin: 30px !important;
 }

 .main-title {
    text-align: center !important;
    text-decoration: underline;
    margin-bottom: 60px;
 }

 .btn {
    color: #fff !important;
    width: 120px;
 }

 .new-btn {
    width: 200px;
 }

 table {
    border-color: black !important;
 }

 .action-btn {
    width: 140px;
 }

 thead {
    background-color: #e7d8d8;
 }

 th, td {
    text-align: center !important;
 }

 p {
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .img-title {
    margin: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
        text-transform: capitalize;
    }
 }

 .img-title > h1 {
    text-transform: capitalize;
 }

 a:hover {
    text-transform: capitalize;
    background-color: #fff;
 }

 img {
    max-width: 1000px;
    max-height: 1000px;
 }

 .no-data-found {
    color: red;
    text-align: center;
 }